@import "tailwindcss";
@import "@heroui/styles"; 








.swiper-pagination-bullet {
  background: #cbd5e1 !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background: #f97316 !important;
  width: 20px !important;
  border-radius: 4px !important;
}
